.edgeos
alexa*
androidtv_*
application_credentials
auth*
ble_monitor/
camera
cloud*
core*
esphome*
frontend.*
google*
hacs*
hassio
http*
image
onboarding
person
repairs*
room_assistant/
sonoff/sebburrell@outlook.com.json
trace.saved_traces
unifi_data
unraid/
zone
tapo_control
battery_notes.storage
