*auth*
*.crt
*.db*
*.key
*.log
*.pem
*.pub
*.token
._*
.cloud
.DS_Store
.shopping_list.json
.ssh/
.vscode/
__pycache__
configuration/System/stats.csv
custom_components/
deps/
double-take/
frigate.yml
google_calendars.yaml
HA (GitHub).code-workspace
home-assistant.log*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
history.db
image/
known_devices.yaml
o365_calendars.yaml
rtsp2webrtc_v*
secrets.yaml
ssl/
startup/
tts/
www/community/
www/tmp/
watchman_report.*
.venv/
*.csv
