HA (GitHub).code-workspace
.vscode/
fitbit.conf
octopusagile.json
secrets.yaml
'*.db'
'*.log'
__pycache__
._*
.DS_Store
deps/
known_devices.yaml
tts/
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.HA_VERSION
ssl/
.cloud
startup/
room_assistant/
www/tmp/
.storage/hacs/
.storage/unraid/
.storage/room_assistant/
.storage/androidtv_*
.storage/auth*
.storage/core.*
.storage/frontend.*
.storage/hacs.*
.storage/alexa_media.*
.storage/hassio
.storage/http
.storage/image
.storage/onboarding
.storage/person
.storage/zone
google_calendars.yaml
.google.token
.storage/camera
