HA (GitHub).code-workspace
.vscode/
fitbit.conf
octopusagile.json
secrets.yaml
'*.db'
'*.log'
__pycache__
._*
.DS_Store
deps/
known_devices.yaml
tts/
home-assistant.log*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.HA_VERSION
ssl/
.cloud
startup/
room_assistant/
www/tmp/
.storage/hacs/
.storage/unraid/
.storage/room_assistant/
.storage/androidtv_*
.storage/auth*
.storage/core.*
.storage/frontend.*
.storage/hacs.*
.storage/alexa_media.*
.storage/hassio
.storage/http
.storage/image
.storage/onboarding
.storage/person
.storage/zone
.storage/gym
google_calendars.yaml
.google.token
.storage/camera
o365_calendars.yaml
.O365-token-cache/
zigbee.db
zigbee2mqtt/log
image
rtsp2webrtc_v4_aarch64
*.pem
.google_fit.token
.storage/.edgeos
.Seb_google_fit.token
zigbee2mqtt/
.storage/zwave_js.legacy_zwave_migration
.shopping_list.json
.storage/trace.saved_traces
